* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding-bottom: 55px;
}

.account-stuff-main {
    margin: 45px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 /40%);
    border-radius: 30px;
    background: #f5f5f2;
    flex: 1;
    order: 1;
    padding: 45px;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.customize-rig-header {
    font-family: "Nunito", sans-serif;
    font-size: 38px;
    color: #5c391f;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

.rig-parts-container {
    display: flex;
    flex-direction: column;
}

.part-label {
    font-size: 17px;
    font-family: "Nunito", sans-serif;
    color: #32190d;
    margin-top: 5px;
    margin-bottom: 2px;
}

.combo {
    font-size: 18px;
    border-color: #81512e;
    border-style: inset;
    border-width: 1.6px;
    color: #241c0e;
    padding: 1px 1px;
    padding-right: 40px;
}
.input-box{
    font-size: 18px;
    border-color: #81512e;
    border-style: inset;
    border-width: 1.6px;
    color: #241c0e;
    padding: 4px 5px;
    padding-right: 40px;
}

.description-box{
    font-size: 18px;
    height: 180px;
    border-color: #81512e;
    border-style: inset;
    border-width: 1.6px;
    resize: none;
    color: #241c0e;
    padding: 10px 11px;
}

.combo>option {
    font-size: 17px;
}

.save-cancel-buttons-container {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.save-cancel-buttons-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-cancel-buttons-sub-container>button {
    flex: 50%;
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    outline: none;
    text-align: center;
    padding: 16px 28px;
    border-color: #4b2714;
    border-style: solid;
    border-width: 1.6px;
    color: #F4F1E7;
}

.rig-cancel-button {
    order: 1;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    background-color: #ce0000;
    padding: 13.8px 25px;
    border: 1px gray solid;
}
.rig-cancel-button:hover{
    text-decoration: none;
    color: white;
}

.rig-cancel-button:hover {
    background-color: #950707;
}

.rig-save-button {
    order: 2;
    background-color: #81512e;
}

.rig-save-button:hover {
    background-color: #5c391f;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error-message{
    color: red;
    align-self: center;
    font-weight: bold;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width:768px) {
    .save-cancel-buttons-container {
        justify-content: center;
    }

    .save-cancel-buttons-sub-container {
        width: 300px;
    }
}

@media screen and (max-width:1200px) {
    .account-stuff-main {
        width: 80vw;
    }
}
